<div class="container">
    <div class="be-comment-block">
      <h1 class="comments-title">
        Yorumlar ({{ productsDetail[0].comments.length }})
      </h1>
      <div
        class="container"
        style="margin-top: 70px">
        <div>
          <div class="container" *ngFor="let item of productsDetail[0].comments">
            <div class="be-comment">
              <div class="be-img-comment">
                <a href="blog-detail-2.html">
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar1.png"
                    alt=""
                    class="be-ava-comment"
                    style="width: 50px; height: 50px;"
                  />
                </a>
              </div>
              <div class="be-comment-content">
                <span class="be-comment-name">
                  <a href="blog-detail-2.html">{{ item.username }}</a>
                </span>
                <span class="be-comment-time">
                  <i class="bi bi-clock"></i>
                  {{ item.time | date:'medium'}}
                </span>
                <p class="be-comment-text">
                  {{ item.comment }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="be-comment">
        <div class="be-img-comment">
          <a href="blog-detail-2.html">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar2.png"
              alt=""
              class="be-ava-comment"
            />
          </a>
        </div>
        <!-- commenting section-->
        <form class="form-block" [formGroup]="commentForm" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="form-group fl_icon">
                <div class="icon"><i class="bi bi-person-plus-fill"></i></div>
                <input 
                  class="form-input" 
                  type="text" 
                  formControlName="username" 
                  placeholder="İsmin" />
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 fl_icon">
              <div class="form-group fl_icon">
                <div class="icon"><i class="bi bi-envelope"></i></div>
                <input 
                  class="form-input" 
                  type="text" 
                  formControlName="email" 
                  placeholder="Emailin" />
              </div>
            </div>
            <div class="col-xs-12">
              <div class="form-group">
                <textarea
                  class="form-input"
                  formControlName="comment"
                  placeholder="Yorum gir"
                ></textarea>
              </div>
            </div>
            <button 
              class="btn btn-primary mx-auto" 
              style="width: 15%" 
              type="submit" >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
