<!-- Category section -->
<body data-new-gr-c-s-check-loaded="14.1055.0" data-gr-ext-installed="">
    <div style="
        margin-top:45px ;
        background-color: #2f4353;
        background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);">

        <!-- Products-->
        <section class="container padding-y">
            <div class="row">
                <aside class="col-lg-3">
                    <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none"      data-bs-toggle="collapse"
                        data-bs-target="#aside_filter">
                        Filtreyi göster
                    </button>

                    <!-- ===== Card for sidebar filter ===== -->
                    <div id="aside_filter" class="collapse card d-lg-block mb-5">
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside1">
                                    <i class="icon-control bi bi-chevron-down"></i> İlgili öğeler
                                </a>
                            </header>
                            <div class="collapse show" id="collapse_aside1">
                                <div class="card-body">
                                    <ul class="list-menu">
                                        <li>
                                            <button style="border: none; background: none" class="category"
                                                (click)="categoryFilterHandler('')">
                                                <h6>Tüm Ürünler</h6>
                                            </button>
                                        </li>
                                        <li>
                                            <button style="border: none; background: none" class="category"
                                                (click)="categoryFilterHandler('foods')">
                                                <h6>Yiyecekler</h6>
                                            </button>
                                        </li>
                                        <li>
                                            <button style="border: none; background: none" class="category"
                                                (click)="categoryFilterHandler('drinks')">
                                                <h6>İçecekler</h6>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <!-- card-body.// -->
                            </div>
                            <!-- collapse.// -->
                        </article>
                       
                        <!-- filter-group // -->
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" class="title" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_aside_brands">
                                    <i class="icon-control bi bi-chevron-down"></i> Markalar
                                </a>
                            </header>
                            <div class="collapse show" id="collapse_aside_brands">
                                <div class="card-body">
                                    <ng-container *ngFor="let item of uniqueBrands" >
                                    <label class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" value="{{item}}" (change)="brandFilter($event)"/>
                                        <span class="form-check-label"> {{item}} </span>
                                    </label>
                                    </ng-container>
                                    <!-- form-check end.// -->
                                </div>
                                <!-- card-body .// -->
                            </div>
                            <!-- collapse.// -->
                        </article>
                        <!-- temizle butonu eklenecek eventle tetiklenecek pricefilter -->
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside2">
                                    <i class="icon-control bi bi-chevron-down"></i> Fiyat
                                </a>
                            </header>
                            <div class="collapse show" id="collapse_aside2">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label for="min" class="form-label">Min</label>
                                            <input class="form-control" id="min" placeholder="$0" type="number" #min />
                                        </div>
                                        <!-- col end.// -->

                                        <div class="col-6">
                                            <label for="max" class="form-label">Max</label>
                                            <input class="form-control" id="max" placeholder="$1,0000" type="number"
                                                #max />
                                        </div>
                                        <!-- col end.// -->
                                    </div>
                                    <!-- row end.// -->
                                    <button class="btn btn-light w-100" type="button"
                                        (click)="priceFilter(min.value, max.value)">
                                        Uygula
                                    </button>
                                    <button class="btn btn-light w-100" type="button" (click)="priceFilter(0, 10000)">
                                        Sıfırla
                                    </button>
                                </div>
                                <!-- card-body.// -->
                            </div>
                            <!-- collapse.// -->
                        </article>
                        <!-- filter-group // -->

                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside4">
                                    <i class="icon-control bi bi-chevron-down"></i> Derecelendirmeler
                                </a>
                            </header>
                            <div class="collapse show" id="collapse_aside4">
                                <form class="card-body" >
                                    <div class="form-check" >
                                        <input 
                                            class="form-check-input" 
                                            type="radio" 
                                            name="flexRadioDefault" 
                                            id="flexRadioDefault1"
                                            checked value="1" 
                                            (change)="starFilter($event)">
                                        <span class="form-check-label">
                                            <ul class="rating-stars">
                                                <li>
                                                    <i class="bi bi-star-fill text-dark"></i>
                                                    Tam Puan
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="form-check">
                                        <input 
                                            class="form-check-input" 
                                            type="radio" 
                                            name="flexRadioDefault" 
                                            id="flexRadioDefault1" 
                                            value="2"
                                            (change)="starFilter($event)">
                                       <span class="form-check-label">
                                            <ul class="rating-stars">
                                                <li>
                                                    <i class="bi bi-star-fill text-dark"></i>
                                                    <strong>4+</strong>Yıldız
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="form-check">
                                        <input 
                                            class="form-check-input" 
                                            type="radio" 
                                            name="flexRadioDefault" 
                                            id="flexRadioDefault2" 
                                            value="3"
                                            (change)="starFilter($event)">
                                        <span class="form-check-label">
                                            <ul class="rating-stars">
                                                <li>
                                                    <i class="bi bi-star-fill text-dark"></i>
                                                    <strong>3-3.9+</strong>Yıldız
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <!-- form-check end.// -->
                                </form>
                                <!-- card-body.// -->
                            </div>
                            <!-- collapse.// -->
                        </article>
                        <!-- filter-group // -->
                    </div>
                    <!-- card.// -->
                    <!-- ===== Card for sidebar filter .// ===== -->
                </aside>
                <!-- col .// -->
                <main class="col-lg-9">
                    <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
                        <strong class="d-block py-2">Sonuç:
                            {{ (filteredProducts | filterHandler: searchKey:'title').length }}
                            Ürünler bulundu
                        </strong>
                        <div class="ms-auto">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <input 
                                    type="radio" 
                                    class="btn-check" 
                                    name="options" 
                                    id="option1" 
                                    autocomplete="off"  
                                    (click)="viewHandler('list')">
                                <label class="btn btn-success" for="option1">
                                    <i class="bi bi-justify"></i>
                                </label>

                                <input 
                                    type="radio" 
                                    class="btn-check" 
                                    name="options" 
                                    id="option2" 
                                    autocomplete="off" 
                                    checked (click)="viewHandler('grid')">
                                <label class="btn btn-success " for="option2">
                                    <i class="bi bi-grid-3x3-gap-fill"></i>
                                </label>
                            </div>
                            <!-- btn-group end.// -->
                        </div>
                    </header>

                    <div *ngIf=" filteredProducts.length === 0">
                        <span><strong>Aramanızla eşleşen ürün yok, başka bir şey deneyin.</strong> </span>
                    </div>

                    <!-- ========= content items ========= -->
                    <div class="row" *ngIf="viewGrid">
                        <!-- products -->
                        <ng-container *ngFor="
                let item of filteredProducts | filterHandler: searchKey:'title'">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <figure class="card card-product-grid">
                        <div class="img-wrap pt-2">
                            <img src="{{ item.image }}" />
                        </div>
                        <figcaption class="info-wrap border-top">
                            <div class="price-wrap">
                                <strong class="price">{{ item.price }} TL</strong>
                                <del class="price-old">50.00 TL</del>
                            </div>
                            <p class="text-success">Ücretsiz kargo</p>
                            <br>
                            <ul class="list-group list-group-horizontal title" >
                                <li class="list-group-item" *ngFor="let star of star"style="width: 50px;">
                                    <i [class]="item.star >= star
                                        ? 'bi bi-star-fill text-success'
                                        : 'bi bi-star text-gray'">
                                    </i>
                                </li>
                              </ul>
                            <!-- price-wrap.// -->
                            <button style="border: none; background: none; text-align: left;" (click)="onSelect(item)" class="productid">
                                <span >{{item.brand}} {{ item.title }}</span>
                            </button>
                            <p class="title mb-2" style="
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 100ch;">
                                {{ item.description }}
                            </p>

                            <button type="button" class="btn btn-outline-dark" (click)="addtocart(item)">
                                Sepete Ekle
                            </button>
                            <button type="button" class="btn btn-outline-dark" style="margin-left: 10px;" (click)="onSelect(item)">
                                Ürün Detayı
                            </button>
                        </figcaption>
                    </figure>
                </div>
                <!-- col end.// -->
            </ng-container>
        </div>
        <!-- row end.// -->
        <div class="row" *ngIf="!viewGrid">
            <!-- products -->
            <div *ngIf=" filteredProducts.length === 0">
                <span><strong>Aramanızla eşleşen ürün yok, başka bir şey deneyin.</strong> </span>
            </div>
            <ng-container *ngFor="
                let item of filteredProducts| filterHandler: searchKey:'title'">
                <article class="card card-product-list">
                    <div class="row g-0">
                      <aside class="col-xl-3 col-md-4">
                        <a href="#" class="img-wrap"> <img src="{{ item.image }}"> </a>
                      </aside> <!-- col.// -->
                      <div class="col-xl-6 col-md-5 col-sm-7">
                        <div class="card-body">
                          <a href="#" class="title h5">{{item.brand}} {{ item.title }} </a>
                          <div class="rating-wrap mb-2">
                            <span class="label-rating text-warning"><ul class="list-group list-group-horizontal title" >
                                <li class="list-group-item" *ngFor="let star of star"style="width: 50px;">
                                    <i [class]="item.star >= star
                                        ? 'bi bi-star-fill text-success'
                                        : 'bi bi-star text-gray'">
                                    </i>
                                </li>
                              </ul></span>
                      </div> <!-- rating-wrap.// -->
                      <p>{{ item.description }}</p>
                    </div> <!-- card-body.// -->
                  </div> <!-- col.// -->
                  <aside class="col-xl-3 col-md-3 col-sm-5">
                    <div class="info-aside">
                      <div class="price-wrap">
                        <span class="price h5">{{ item.price }} TL</span>  
                        <del class="price-old"> 50 TL</del>
                      </div> <!-- info-price-detail // -->
                      <p class="text-success">Ücretsiz kargo</p>
                      <br>
                    <div class="mb-3">
                        <button type="button" class="btn btn-outline-dark" (click)="addtocart(item)">
                            Sepete Ekle
                        </button>
                        <button type="button" class="btn btn-outline-dark" style="margin-top: 10px;" (click)="onSelect(item)">
                            Ürün Detayı
                        </button>
                    </div>
                </div> <!-- info-aside.// -->
              </aside> <!-- col.// -->
            </div> <!-- row.// -->
          </article>
                </ng-container>
            </div>
            <hr />
                <footer class="d-flex mt-4">
                    <div>
                        <a href="javascript: history.back()" class="btn btn-light">
                            « Geri dön</a>
                    </div>
                    <nav class="ms-3">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">2</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Sonraki</a>
                            </li>
                        </ul>
                    </nav>
                </footer>

    <!-- ========= content items .// ========= -->
                </main>
<!-- col .// -->
            </div>
<!-- row .// -->
        </section>
    </div>
</body>