<!-- looping all products -->
<div class="container"*ngFor="let item of productsDetail" style="margin-top: 70px;">
    <div class="card"*ngIf="item.id==currentId">
        <div class="card-body">
            <h3 class="card-title">{{item.title}}</h3>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="{{item.image}}" class="img-responsive img-thumbnail"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Ürün Açıklaması</h4>
                    <p>{{item.description}}</p>
                    <h2 class="mt-5">
                        {{item.price}} TL<small class="text-success">(36%off)</small>
                    </h2>
                    <button class="btn btn-primary btn-rounded"(click)="addtocart(item)">Sepete Ekle</button>

                    <h3 class="box-title mt-5">Yorumlar</h3>
                    <ul class="list-unstyled">
                        <li ><i class="bi bi-check-lg text-success"></i>Lorem ipsum dolor sit amet.</li>
                        <li><i class="bi bi-check-lg text-success"></i>Lorem ipsum dolor sit amet.</li>
                        <li><i class="bi bi-check-lg text-success"></i>Lorem ipsum dolor sit amet.</li>
                    </ul>
                     <!-- With help of star array adding 5 star according to data from server -->
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item" *ngFor="let star of star">
                        <i [class]="item.star >= star ? 'bi bi-star-fill' : 'bi bi-star'"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
